<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>


    	<button class="button button-positive" ui-sref="templateFlash">FlashLight</button>

    	<button class="button button-positive" ui-sref="templateBarcode">BarcodeScanner</button>

    	<button class="button button-positive" ui-sref="templateDeviceM">DeviceMotion</button>

    	<button class="button button-positive" ui-sref="templateCam">Camera</button>

    	<button class="button button-positive" ui-sref="templateVib">Vibration</button>
    
  </ion-content>
</ion-view>
