<ion-view view-title="FlashLight">


</ion-nav-buttons>
       <ion-nav-buttons side="right">

        <button ui-sref="tab.dash" class="button button-icon icon ">Volver</button>


      </ion-nav-buttons>

  <ion-content>

  <!-- <ion-toggle ng-model="configuracion.estado" ng-change="algo()" toggle-class="toggle-calm">Linterna Off/On</ion-toggle> -->

  <button class="button button-block icon ion-android-bulb button button-energized" ng-click="lightOn()"></button>

  <button class="button button-block icon ion-android-bulb button-dark" ng-click="lightOff()"></button>
    
  </ion-content>
</ion-view>