<ion-view title="IonicToast">

	</ion-nav-buttons>
       <ion-nav-buttons side="right">

        <button ui-sref="root" class="button button-icon icon ">root</button>


      </ion-nav-buttons>

      <ion-content>
    <ion-list>
    
	<div class="padding">
        <button class=class="button button-light" ng-click="mostrarMensaje('Bienvenidos', 'top', true,2500)">hacele click para ver el mensaje!</button>
        <button class=class="button button-light" ng-click="mostrarMensaje('a mi', 'middle', false,2500)">hacele click otra vez!</button>
        <button class=class="button button-light" ng-click="mostrarMensaje('App', 'bottom', true,2500)">hacele click!</button>
    </div>

    </ion-list>
  	</ion-content>

 </ion-view>